---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="About Me">
  <div class="container mx-auto px-4 py-8">
    <div class="max-w-3xl mx-auto">
      <h1 class="text-center mb-12">About Me</h1>
      <p class="text-lg text-center mb-12">
        A passionate and driven individual with a rich and diverse background. My journey has taken me from the world of
        culinary arts to the ever-evolving field of technology, where I've found my true calling.
      </p>

      <div class="space-y-12">
        <div class="mb-12">
          <h2 class="mb-6">Early Influences & Tech Beginnings</h2>
          <p class="text-lg mb-6">
            I grew up in Lakeland, FL, in a large family with nine siblings. My father, a chemical engineer and software
            developer, instilled in me an early appreciation for technology. I understood the importance of C and C++
            before middle school and quickly became the household's go-to IT support, becoming proficient with DOS by
            elementary school.
          </p>
          <p class="text-lg mb-4">
            This early exposure sparked a passion for web development, leading me to start a business during the
            GeoCities and Angelfire era. I designed custom websites, migrated legacy layouts to PHP, and helped clients
            transition to custom domains. I also ran a business fixing and building computers, further deepening my
            technical skills.
          </p>
        </div>

        <div class="mb-12">
          <h2 class="mb-6">A Different Path: The Culinary World</h2>
          <p class="text-lg mb-6">
            For 17 years, I embarked on a culinary career, working as a cook and chef. This experience, while seemingly
            different, taught me invaluable lessons in creativity, precision, and working under pressure.
          </p>
        </div>
        <div>
          <h2 class="mb-6">Returning to My Roots</h2>
          <p class="text-lg mb-6">
            In 2021, I decided to return to my original passion and pursue a career in technology. This led me to enroll
            at Polk State College and, now, the University of South Florida, where I am dedicated to expanding my
            knowledge and skills in the cybersecurity landscape.
          </p>
        </div>
      </div>
    </div>
  </div>
  <style>
    .education-container {
      margin-top: 4rem;
    }

    .education-tree {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      color: var(--text);
      font-family: "IBM Plex Mono", Courier, monospace;
      border: 1px solid rgba(128, 128, 128, 0.2);
      padding: 1.5rem;
      white-space: pre-wrap;
      line-height: 1.6;
    }

    .tree-line {
      color: rgba(107, 114, 128, 0.7); /* Muted gray for tree lines */
    }

    .degree-title {
      color: #3b82f6 !important; /* Brighter blue-500 for degree titles */
      font-weight: 900; /* Extra bold */
    }
  </style></Layout
>
