---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("blog");
// Sort posts by date, newest first
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout pageTitle="Blog">
  <section>
    <h1 class="h1">Blog</h1>
    <table class="blog-posts-table">
      <tbody>
        {allPosts.map((post) => (
          <tr>
            <td class="date">
              {post.data.pubDate.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </td>
            <td class="post-details">
              <a href={`/blog/${post.slug}`}>
                <span class="title">{post.data.title}</span>
                {post.data.tags && (
                  <ul class="badges">
                    {post.data.tags.map((tag) => (
                      <li class="badge">{tag}</li>
                    ))}
                  </ul>
                )}
              </a>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </section>
</Layout>

<style>
  section {
    padding: 3.815rem 0 0.8rem;
  }
  h1 {
      font-size: 1.563rem;
      margin-bottom: 1.563rem;
  }
  .blog-posts-table {
    border-collapse: collapse;
    width: 100%;
  }
  .blog-posts-table tr + tr {
    border-top: 1px dotted var(--text);
  }
  .blog-posts-table td {
    padding: 0.4rem 0;
    vertical-align: top;
  }
  .blog-posts-table .date {
    padding-right: 0.5rem;
    white-space: nowrap;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    padding-top: 1.2rem; /* Align with the title text */
  }
  .post-details a {
    display: block;
    padding: .8rem;
    padding-left: 0;
    border: 1px dotted transparent;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .post-details a:hover {
    background: var(--text);
    color: var(--background);
    border-color: var(--text); /* Make border visible on hover */
  }
  .post-details a .title {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .badges {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.5rem;
  }
  .badge {
    background: rgba(101, 90, 61, 0.1); /* Use a light version of the text color */
    color: var(--text);
    padding: 0.2em 0.4em;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    border-radius: 4px;
  }
  .post-details a:hover .badge {
    background: var(--background);
    color: var(--text);
  }
</style>