---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Contact">
  <div class="text-content">
    <h1>Contact me</h1>
    <p>Feel free to drop me an email or find me via the links below.</p>
    <div id="link-tree-container">
      <ul class="link-tree max">
        <li>
          <a href="mailto:srneas@gmail.com" class="link">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099l3.824-3.099 5.441 6.812h-18.53l5.441-6.812zm9.201-1.259l4.623-3.746v9.458l-4.623-5.712z">
              </path>
            </svg>
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/solomon-neas/" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z">
              </path>
            </svg>
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/solomonneas" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
              </path>
            </svg>
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://x.com/solomonneas" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932L18.901 1.153ZM17.61 20.644h2.039L6.486 3.24H4.298L17.61 20.644Z">
              </path>
            </svg>
            <span>X</span>
          </a>
        </li>
        <li>
          <a href="https://bsky.app/profile/sn-dot-dev.bsky.social" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                fill="currentColor"
                d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948">
              </path>
            </svg>
            <span>Bluesky</span>
          </a>
        </li>
        <li>
          <a href="https://substack.com/@solomonneas?" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 511.471">
              <path
                fill="currentColor"
                d="M0 0h448v62.804H0V0zm0 229.083h448v282.388L223.954 385.808 0 511.471V229.083zm0-114.542h448v62.804H0v-62.804z">
              </path>
            </svg>
            <span>Substack</span>
          </a>
        </li>
        <li>
          <a href="#" class="link" target="_blank">
            <svg class="social-icon" viewBox="-10 -5 1034 1034" xmlns="http://www.w3.org/2000/svg">
              <path
                fill="currentColor"
                d="M499 112q-93 1 -166 11q-81 11 -128 33l-14 8q-16 10 -32 25q-22 21 -38 47q-21 33 -32 73q-14 47 -14 103v37q0 77 1 119q3 113 18 188q19 95 62 154q50 67 134 89q109 29 210 24q46 -3 88 -12q30 -7 55 -17l19 -8l-4 -75l-22 6q-28 6 -57 10q-41 6 -78 4q-53 -1 -80 -7 q-43 -8 -67 -30q-29 -25 -35 -72q-2 -14 -2 -29l25 6q31 6 65 10q48 7 93 9q42 2 92 -2q32 -2 88 -9t107 -30q49 -23 81.5 -54.5t38.5 -63.5q9 -45 13 -109q4 -46 5 -97v-41q0 -56 -14 -103q-11 -40 -32 -73q-16 -26 -38 -47q-15 -15 -32 -25q-12 -8 -14 -8 q-46 -22 -127 -33q-74 -10 -166 -11h-3zM367 267q73 0 109 56l24 39l24 -39q36 -56 109 -56q63 0 101 43t38 117v239h-95v-232q0 -74 -61 -74q-69 0 -69 88v127h-94v-127q0 -88 -69 -88q-61 0 -61 74v232h-95v-239q0 -74 38 -117t101 -43z">
              </path>
            </svg>
            <span>Mastodon</span>
          </a>
        </li>
        <li>
          <a href="https://ko-fi.com/solomonneas" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z">
              </path>
            </svg>
            <span>Buy Me a Coffee [ Ko-Fi ]</span>
          </a>
        </li>
        <li>
          <a href="https://linktr.ee/solomonneas" class="link" target="_blank">
            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="m13.73635 5.85251 4.00467 -4.11665 2.3248 2.3808 -4.20064 4.00466h5.9085v3.30473h-5.9365l4.22865 4.10766 -2.3248 2.3338L12.0005 12.099l-5.74052 5.76852 -2.3248 -2.3248 4.22864 -4.10766h-5.9375V8.12132h5.9085L3.93417 4.11666l2.3248 -2.3808 4.00468 4.11665V0h3.4727zm-3.4727 10.30614h3.4727V24h-3.4727z">
              </path>
            </svg>
            <span>Linktree</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  #link-tree-container {
    max-width: 28rem;
    margin-top: 2rem;
  }

  .link-tree {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .link-tree li {
    margin: 0;
  }

  .link-tree a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensure left-alignment of content */
    gap: 1rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--text);
    border-radius: 8px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9rem;
    background: transparent;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none !important; /* Override global dotted border */
  }

  .link-tree a:hover {
    background: var(--text);
    color: var(--background) !important;
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  .social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Ensure the icon container has a fixed width for alignment */
  .link-tree a svg {
    width: 24px; /* Slightly wider than the icon itself to create a consistent "column" */
  }

  /* Subtle animation for the list appearance */
  .link-tree li {
    animation: slideUp 0.4s ease-out forwards;
    opacity: 0;
  }

  .link-tree li:nth-child(1) {
    animation-delay: 0.05s;
  }
  .link-tree li:nth-child(2) {
    animation-delay: 0.1s;
  }
  .link-tree li:nth-child(3) {
    animation-delay: 0.15s;
  }
  .link-tree li:nth-child(4) {
    animation-delay: 0.2s;
  }
  .link-tree li:nth-child(5) {
    animation-delay: 0.25s;
  }
  .link-tree li:nth-child(6) {
    animation-delay: 0.3s;
  }
  .link-tree li:nth-child(7) {
    animation-delay: 0.35s;
  }
  .link-tree li:nth-child(8) {
    animation-delay: 0.4s;
  }
  .link-tree li:nth-child(9) {
    animation-delay: 0.45s;
  }

  @keyframes slideUp {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
