---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Hire">
  <div class="text-content">
    <div>
      <h1>Hire Me</h1>
      <p>
        I am actively seeking new opportunities in education and technology. My primary focus is on the following roles:
      </p>
      <ul>
        <li><b>Adjunct Faculty:</b> Remote or in-person in the New Port Richey, FL area.</li>
        <li><b>Instructional Design:</b> Part-time, remote opportunities.</li>
        <li><b>Web Development:</b> Bringing your ideas to life.</li>
        <li><b>Contracting:</b> Infrastructure and software development projects.</li>
      </ul>
      <p>I am a lifelong learner, dedicated to both expanding my own knowledge and helping others grow theirs.</p>

      <p>Please feel free to get in touch if you have a project you think I'd be a good fit for.</p>
    </div>
    <div class="testimonials">
      <blockquote>
        <p>"Derp McDerp Derp."</p>
        <cite><a>Jane Doe, Joe Mama</a></cite>
      </blockquote>
      <blockquote>
        <p>"I can't recommend Solomon enough. He's a baller, shot caller."</p>
        <cite><a>Joseph Smith, Some Dude</a></cite>
      </blockquote>
      <blockquote>
        <p>"He's a mean one, Mr. Grinch."</p>
        <cite><a>Every Who, Whoville</a></cite>
      </blockquote>
    </div>
  </div>
</Layout>
