---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Opportunities">
  <div class="text-content">
    <div>
      <h1>Opportunities</h1>
      <p>
        I am actively seeking new opportunities in education and technology. My primary focus is on the following roles:
      </p>
      <ul>
        <li><b>Adjunct Faculty:</b> Remote or in-person in the New Port Richey, FL area.</li>
        <li><b>Instructional Design:</b> Part-time, remote opportunities.</li>
        <li><b>Contracting:</b> Infrastructure and software development projects.</li>
      </ul>
      <p>
        I am a lifelong learner, dedicated to both expanding my own knowledge and helping others grow theirs.
      </p>
      
      <div class="education">
        <h3>Education</h3>
        <div class="education-item">
            <h4>M.S. Cybersecurity Intelligence and Information Security</h4>
            <p><strong>University of South Florida</strong> | Est. Graduation: Fall, 2026 | Tampa, FL</p>
        </div>
        <div class="education-item">
            <h4>BASc, Supervision and Management: Business Information Technology</h4>
            <p><strong>Polk State College</strong> | May, 2025 | Lakeland, FL</p>
        </div>
        <div class="education-item">
            <h4>AS, Network Systems Engineering Technology: Infrastructure</h4>
            <p><strong>Polk State College</strong> | May, 2022 | Lakeland, FL</p>
        </div>
      </div>

      <div class="flex max">
        <a href="https://drive.google.com/file/d/1O9_WXA0WdIa-oM3HKlxCfOfcRN1p76-L/view" class="button">Download Resume (PDF)</a>
      </div>

      <p>
        Please feel free to get in touch if you have a project you think I'd be
        a good fit for.
      </p>
    </div>
    <div class="testimonials">
      <blockquote>
        <p>
          "Derp McDerp Derp."
        </p>
        <cite><a> Jane Doe, Joe Mama</a></cite>
      </blockquote>
      <blockquote>
        <p>
          "I can't recommend Solomon enough. He's a baller, shot caller."
        </p>
        <cite><a> Joseph Smith, Some Dude</a></cite>
      </blockquote>
      <blockquote>
        <p>
          "He's a mean one, Mr. Grinch."
        </p>
        <cite><a> Every Who, Whoville</a></cite>
      </blockquote>
    </div>
  </div>
</Layout>

<style>
.education {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.education h3 {
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.education-item {
  margin-bottom: 1.5rem;
}
.education-item h4 {
    margin-bottom: 0.25rem;
}
.education-item p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
</style>
