---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Projects">
  <section>
    <h1>Projects</h1>
    <table class="productions">
      <tr>
        <td class="year">2026 Jan</td>
        <td class="title">
          <a><i>HyperV to Proxmox Migration</i></a>
          <span class="production-meta">
            <span class="company">Polk State College</span>, <span class="venue">In Progress</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Dec</td>
        <td class="title">
          <a href="/projects/designing-and-building-an-open-source-soc/">
            <i>Designing and Building an Open Source SOC</i>
          </a>
          <span class="production-meta">
            <span class="company">Polk State College</span>, <span class="venue">In Progress</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Dec</td>
        <td class="title">
          <a href="/projects/learning-neovim/"><i>Learning Neovim</i></a>
          <span class="production-meta">
            <span class="company">Personal Development</span>, <span class="venue">Ongoing</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Dec</td>
        <td class="title">
          <a href="/projects/learning-astro/"><i>Learning Astro.js</i></a>
          <span class="production-meta">
            <span class="company">Personal Development</span>, <span class="venue">Ongoing</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Dec</td>
        <td class="title">
          <a><i>Ollama & Local LLMS</i></a>
          <span class="production-meta">
            <span class="company">Personal Project</span>, <span class="venue">Ongoing</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Nov</td>
        <td class="title">
          <a href="/projects/linux-vm-labs-and-documentation/"><i>Linux+ VM Labs and Documentation</i></a>
          <span class="production-meta">
            <span class="company">Training Material for Linux+ V8 (XK0-006)</span>, <span class="venue">Completed</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Nov</td>
        <td class="title">
          <a><i>Proxmox 9.1.2 Homelab</i></a>
          <span class="production-meta">
            <span class="company">Personal Project</span>, <span class="venue">Ongoing</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Oct</td>
        <td class="title">
          <a><i>APT 44 - Cyber Intelligence Report | LIS62709 Cyber Intelligence</i></a>
          <span class="production-meta">
            <span class="company">University of South Florida</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Oct</td>
        <td class="title">
          <a>
            <i>
              Securing U.S. Water and Wastewater Utilities: Cyber Risks, OT Exposure, and National Security
              Implications" | LIS6107 Advanced Professional Communication for Analysists
            </i>
          </a>
          <span class="production-meta">
            <span class="company">University of South Florida</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Jul</td>
        <td class="title">
          <a><i>NDG Proxmox VE 8 - NETLAB+ Deployment Workshop</i></a>
          <span class="production-meta">
            <span class="company">Network Development Group</span>, <span class="venue">Completed</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Jul</td>
        <td class="title">
          <a><i>VMware ESXi to Proxmox Migration for NDG Netlabs+</i></a>
          <span class="production-meta">
            <span class="company">Migration of critical infrastructure for a popular online learning platform.</span>, <span
              class="venue">
              Completed
            </span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Jul</td>
        <td class="title">
          <a><i>Obsidian Personal Knowledge Management</i></a>
          <span class="production-meta">
            <span class="company">Personal Development</span>, <span class="venue">Ongoing</span>
          </span>
        </td>
      </tr>
      <tr>
        <td class="year">2025 Jun</td>
        <td class="title">
          <a><i>Classroom Hardware Upgrade & MECM Integration</i></a>
          <span class="production-meta">
            <span class="company">Polk State College</span>
          </span>
        </td>
      </tr>
    </table>
  </section>
</Layout>

<style>
  section {
    padding: 3.815rem 0 0.8rem;
  }
  h1 {
    font-size: 1.563rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.563rem;
  }
  .productions {
    font-size: 0.8rem;
    color: var(--text);
    border-collapse: collapse;
    width: 100%;
  }
  .productions tr + tr {
    border-top: 1px dotted var(--text);
  }
  .productions td {
    padding: 0.4rem;
    vertical-align: top;
  }
  .productions .year {
    padding-right: clamp(1rem, 6vw, 3.815rem);
    white-space: nowrap;
  }
  .productions .title a {
    font-style: italic;
  }
  .production-meta {
    display: block;
    font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
    font-size: 0.8rem;
  }
</style>
