---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="RSS">
  <div class="text-content">
    <h1>RSS</h1>
    <p>
      Content coming soon! I'm currently working on this section. Please check
      back later for my RSS feed.
    </p>
  </div>
</Layout>
