---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "APT 44 - Cyber Intelligence Report",
    description: "University of South Florida, Completed",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Analyzing advanced persistent threats and state-sponsored cyber operations. This project is completed. More
        details to come.
    </p>
</ProjectLayout>
