---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "HyperV to Proxmox Migration",
    description: "Polk State College, In Progress",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Migrating mission-critical virtualization hosts from Hyper-V to Proxmox VE. This project is currently in
        progress. More details to come.
    </p>
</ProjectLayout>
