---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "Learning Astro.js",
    description: "Personal Development, Ongoing",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Building performant, content-driven websites with the Astro framework. This project is currently in progress.
        More details to come.
    </p>
</ProjectLayout>
