---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
  title: "Learning Go",
  description: "Personal Development, Ongoing",
  img: "/images/placeholder.png",
  img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
  <p>This project is currently in progress. More details to come.</p>
</ProjectLayout>
