---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
  title: "Linux+ VM Labs and Documentation",
  description: "Training Material for Linux+ V8 (XK0-006), In Progress",
  img: "/images/placeholder.png",
  img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
  <p>This project is currently in progress. More details to come.</p>
</ProjectLayout>
