---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "NDG Proxmox VE 8 - NETLAB+ Deployment Workshop",
    description: "Network Development Group, Completed",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Designing deployment workflows for Proxmox in academic environments. This project is completed. More details to
        come.
    </p>
</ProjectLayout>
