---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "Obsidian Personal Knowledge Management",
    description: "Personal Development, Completed",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Implementing a comprehensive personal knowledge management system using Obsidian and Markdown. This project is
        completed. More details to come.
    </p>
</ProjectLayout>
