---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "Ollama & Local LLMS",
    description: "Personal Project, Ongoing",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Self-hosting large language models for private and offline AI assistance. This project is currently in progress.
        More details to come.
    </p>
</ProjectLayout>
