---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "Proxmox 9.1.2 Homelab",
    description: "Personal Project, Ongoing",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Building a redundant homelab cluster for DevOps and security testing. This project is currently in progress.
        More details to come.
    </p>
</ProjectLayout>
