---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "Securing U.S. Water and Wastewater Utilities",
    description: "University of South Florida, Completed",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Researching security vulnerabilities in national critical infrastructure. This project is completed. More
        details to come.
    </p>
</ProjectLayout>
