---
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const frontmatter = {
    title: "VMware ESXi to Proxmox Migration for NDG Netlabs+",
    description: "Migration for online platform., Completed",
    img: "/images/placeholder.png",
    img_alt: "A placeholder image.",
};
---

<ProjectLayout frontmatter={frontmatter}>
    <p>
        Executing a seamless infrastructure migration with zero downtime. This project is completed. More details to
        come.
    </p>
</ProjectLayout>
